In [85]:
import sys
sys.path.append('../utils/')
sys.path.append('../models/')
from utils import *
from sap_batch import *
import glob
from datetime import datetime 

def Naivesearch(pat, txt): 
    M = len(pat) 
    N = len(txt) 
  
    # A loop to slide pat[] one by one */ 
    for i in range(N - M + 1): 
        j = 0
          
        while(j < M): 
            if (txt[i + j] != pat[j]): 
                break
            j += 1
  
        if (j == M):  
            return i

In [94]:
def KMPSearch(pat, txt):
    M = len(pat)
    N = len(txt)

    lps = [0]*M

    # Preprocess the pattern
    computeLPS(pat, lps)

    i = 0  # index for txt[]
    j = 0  # index for pat[]
    while i < N:
        # 문자열이 같은 경우 양쪽 인덱스를 모두 증가시킴
        if pat[j] == txt[i]:
            i += 1
            j += 1
        # Pattern을 찾지 못한 경우
        elif pat[j] != txt[i]:
            # j!=0인 경우는 짧은 lps에 대해 재검사
            if j != 0:
                j = lps[j-1]
            # j==0이면 일치하는 부분이 없으므로 인덱스 증가
            else:
                i += 1

        # Pattern을 찾은 경우
        if j == M:
            print("Found pattern at index " + str(i-j))
            # 이전 인덱스의 lps값을 참조하여 계속 검색
            j = lps[j-1]

def computeLPS(pat, lps):
    leng = 0  # length of the previous longest prefix suffix

    # 항상 lps[0]==0이므로 while문은 i==1부터 시작한다.
    i = 1
    while i < len(pat):
        # 이전 인덱스에서 같았다면 다음 인덱스만 비교하면 된다.
        if pat[i] == pat[leng]:
            leng += 1
            lps[i] = leng
            i += 1
        else:
            # 일치하지 않는 경우
            if leng != 0:
                # 이전 인덱스에서는 같았으므로 leng을 줄여서 다시 검사
                leng = lps[leng-1]
                # 다시 검사해야 하므로 i는 증가하지 않음
            else:
                # 이전 인덱스에서도 같지 않았다면 lps[i]는 0 이고 i는 1 증가
                lps[i] = 0
                i += 1

# 조금 더 긴 텍스트
# txt = "ABABDABACDABABCABAB"
# pat = "ABABCABAB"
# 본문에서 다룬 예제
txt = '1875-DN918077S_PT10'
pat = '1875-DN918077S_PT1'
KMPSearch(pat, txt)

Found pattern at index 0

In [54]:
df_3pl = pd.read_csv('./cpo_match.csv').iloc[:,:3]
df_osr = pd.read_csv('./cpo_match2.csv').iloc[:,:3]

In [75]:
df_3pl['CustomerPO_Num'] = df_3pl['CustomerPO_Num'].astype('str')
df_osr['CustomerPO_Num'] = df_osr['CustomerPO_Num'].astype('str')

df_3pl_cpo_list = df_3pl[['CustomerPO_Num', 'PCS']].values.tolist()
df_osr_cpo_list = df_osr[['CustomerPO_Num', 'PCS']].values.tolist()

In [93]:
for i, k in df_3pl_cpo_list:
    for j, l in df_osr_cpo_list:
        if Naivesearch(i, j) is not None:
            if int(k) == int(l):
                print(i,j, Naivesearch(i, j))

1154-JR-900454 1154-JR-900454S 0
96999_PT2 096999_PT2 1
1875-DN918077S_PT1 1875-DN918077S_PT10 0
1875-DN918077S_PT1 1875-DN918077S_PT11 0

In [155]:
df = pd.read_excel('../data/dummy/GA PSI_220823_(생산V12-1).xlsb'
                            , engine='pyxlsb'
                            , sheet_name = 'Revised_Detail PSI (item code)'
                            , skiprows= 4)


df.head()

,Unnamed: 0,category,MODEL,Grade,Cell type,J.Box,Power,Item code,Curr/Futu Prod.,44682,...,Unnamed: 15926,Unnamed: 15927,Unnamed: 15928,Unnamed: 15929,Unnamed: 15930,Unnamed: 15931,Unnamed: 15932,Unnamed: 15933,Unnamed: 15934,Unnamed: 15935
0,NaN,ATP Qty,Q.PEAK DUO BLK G5.F (12_01),G01,G1.0-G1.2,MC4/1.10m,310,41201122,X,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ATP Qty,Q.PEAK DUO BLK G5.F (12_01),G01,G1.0-G1.2,MC4/1.10m,315,41201123,X,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ATP Qty,Q.PEAK DUO BLK G5.F (12_01),G01,G1.0-G1.2,MC4/1.10m,320,41201124,X,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ATP Qty,Q.PEAK DUO BLK G5.F (12_02),G01,G1.0-G1.2,MC4/1.83m,310,41202122,X,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,ATP Qty,Q.PEAK DUO BLK G5.F (12_02),G01,G1.0-G1.2,MC4/1.83m,315,41202123,X,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
df = df.dropna(how='all', axis='columns')

In [157]:
df = df[(df['Curr/Futu Prod.'] !='X')]

In [158]:
df = df[df['MODEL'].notna()]

In [161]:
df = df[df['category'] == 'W/H IN (생산)']

In [162]:
df = df.drop(['category', 'Grade','Cell type', 'J.Box', 'Curr/Futu Prod.'], axis = 1)

In [163]:
df = df.reset_index(drop = True)
df

,Unnamed: 0,MODEL,Power,Item code,44682,44683,44684,44685,44686,44687,...,44917,44918,44919,44920,44921,44922,44923,44924,44925,44926
0,NaN,Q.PEAK DUO XL-G10.C (93_01),480,49301156,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
1,NaN,Q.PEAK DUO XL-G10.C (93_01),470,49301154,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
2,NaN,Q.PEAK DUO XL-G10.C (93_01),475,49301155,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
3,NaN,Q.PEAK DUO BLK G10+/AC,360,49204132,3605.0,3629.0,4295.0,3980.0,3905.0,947.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
4,NaN,Q.PEAK DUO BLK G10+/AC,365,49204133,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,NaN,Q.PEAK DUO BLK ML-G10+,385,49405137,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
81,NaN,Q.PEAK DUO BLK ML-G10+/TS,400,49409140,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
82,NaN,Q.PEAK DUO BLK ML-G10+/TS,400,49409540,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
83,NaN,빈칸,빈칸,빈칸,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.00
84,NaN,sum,NaN,NaN,9664.0,9494.0,9209.0,10222.0,9948.0,8739.0,...,8310.06,8310.06,4155.03,4155.03,8310.06,8310.06,6295.905,8310.06,8310.06,8310.06

In [164]:
df = df.melt(id_vars = ['MODEL', 'Power', 'Item code'])
df

                              MODEL Power Item code    variable    value
0      Q.PEAK DUO  XL-G10.C (93_01)   480  49301156  Unnamed: 0      NaN
1      Q.PEAK DUO  XL-G10.C (93_01)   470  49301154  Unnamed: 0      NaN
2      Q.PEAK DUO  XL-G10.C (93_01)   475  49301155  Unnamed: 0      NaN
3            Q.PEAK DUO BLK G10+/AC   360  49204132  Unnamed: 0      NaN
4            Q.PEAK DUO BLK G10+/AC   365  49204133  Unnamed: 0      NaN
...                             ...   ...       ...         ...      ...
20905        Q.PEAK DUO BLK ML-G10+   385  49405137       44926        0
20906     Q.PEAK DUO BLK ML-G10+/TS   400  49409140       44926        0
20907     Q.PEAK DUO BLK ML-G10+/TS   400  49409540       44926        0
20908                            빈칸    빈칸        빈칸       44926        0
20909                           sum   NaN       NaN       44926  8310.06

[20910 rows x 5 columns]

In [170]:
df = df.dropna()

In [171]:
def read_date( date):
    return xlrd.xldate.xldate_as_datetime(date, 0)

df['variable']= pd.to_datetime(df['variable'].apply(read_date), errors='coerce')

In [172]:

self.df = self.df.dropna()

NameError: name 'self' is not defined

In [173]:

self.df['variable'] = self.df['variable'].apply(lambda x:self.yyyymmdd_datetime(str(x)))

NameError: name 'self' is not defined

In [ ]:




self.df = self.df.rename(columns = {'MODEL' : 'ProductName',
                                    'Power' : 'Power_Class',
                                    'Item code' : 'Item_Code',
                                    'variable' : 'Product_Plan_Date', 
                                    'value' : 'MW'})