In [1]:
# PR file read
# FactoryPO Key value and iteration
# Inbound Oversea read
# QBIS Delivery status read
# Search Inbound, QBIS with FactoryPO
# FactoryPO, Status, Updated date, PCS
# PCS, Status : Last value by Updated_date
# Updated_Date : First value by PCS, status

In [1]:
import sys
sys.path.append('../utils')
from utils import *

In [2]:
sql = '''
SELECT FactoryPO_Num, MAX(Dates) AS Dates, Item_Code , SUM(PCS) AS PCS FROM (
	select 
		CASE WHEN LEN(FactoryPO_Num) <= 10 THEN LEFT(FactoryPO_Num ,8) 
		ELSE FactoryPO_Num
		END AS FactoryPO_Num 
		, Dates
		, LEFT(Item_Code,8) AS Item_Code
		, PCS 
	from PURCHASE_ORDER 
) as t1 
GROUP BY FactoryPO_Num, Item_Code 
HAVING MAX(Dates) >= '2022-03-01' '''

In [3]:
sql2 = '''
SELECT 
	*
	, SUM(QTY) OVER (PARTITION BY PoNo, itemCode, UPDATED_DATE) AS QTY_DAY
	FROM (select PoNo , itemCode, LOWER(STATUS) AS STATUS, SUM(QTY) AS QTY, Updated_Date   
from DELIVERY_STATUS ds 
WHERE Status in ('Booking', 'Booked', 'cy', 'Onboard') 
group by PoNo , itemCode, STATUS, Updated_Date
) as t1 
order by Updated_Date

'''

In [4]:
eu = Email_Utils()
eu.connect_azuredb()
df_pr = eu.fetch_data(sql = sql)
df_qbis = eu.fetch_data(sql = sql2)

In [5]:
def get_scm_data(PoNo, status):
    global df_qbis
    global lastest_inbound_qty
    
    status_first_date = df_qbis[(df_qbis['PoNo'] == PoNo) & (df_qbis['STATUS'] == status)  & (df_qbis['itemCode'] == itemCode)].Updated_Date.min()
    status_last_date = df_qbis[(df_qbis['PoNo'] == PoNo) & (df_qbis['STATUS'] == status)  & (df_qbis['itemCode'] == itemCode)].Updated_Date.max()
    if status == 'onboard':
        df_tmp = df_qbis[(df_qbis['QTY_DAY'] == lastest_inbound_qty) & (df_qbis['PoNo'] == PoNo) & (df_qbis['STATUS'] == status)  & (df_qbis['itemCode'] == itemCode)]
        df_tmp = df_tmp.copy()
        df_tmp = df_tmp.drop_duplicates(['PoNo', 'STATUS', 'itemCode', 'QTY', 'QTY_DAY'], keep = 'first')
        status_last_date = df_tmp.Updated_Date.max()
    return status, str(status_first_date), str(status_last_date)

data_traces = []
df_result1 = pd.DataFrame()

In [6]:
# PR itemCode가 없는 경우 ?, Qbis에는 있음. 
# PR date추가!!!

In [7]:
PoNos = df_pr.FactoryPO_Num.unique()

for PoNo in PoNos:
    print(PoNo)
    itemCodeList = df_qbis[df_qbis['PoNo'] == PoNo].itemCode.unique()
    
    for itemCode in itemCodeList:
        Status = df_qbis[(df_qbis['PoNo'] == PoNo) & (df_qbis['itemCode'] == itemCode)].STATUS.unique()

        # PoNo, PR Qty, QBis Qty
        data_trace = []

        PR_Qty = df_pr[(df_pr['FactoryPO_Num'] ==PoNo) & (df_pr['Item_Code'] == itemCode)].PCS.sum()
        
        if len(df_pr[(df_pr['FactoryPO_Num'] ==PoNo) & (df_pr['Item_Code'] == itemCode)]) >= 1:
            if len(Status) >= 1:
                lastest_inbound_qty = df_qbis[(df_qbis['PoNo'] == PoNo) & (df_qbis['itemCode'] == itemCode)].QTY_DAY.iloc[-1]
                print(lastest_inbound_qty, PR_Qty)
                inbound_progress = round(lastest_inbound_qty/PR_Qty,3)

                for status in Status:
                    status, status_first_date, status_last_date = get_scm_data(PoNo,status)

                    data_trace.append([PoNo, itemCode, PR_Qty, lastest_inbound_qty, inbound_progress, status, status_first_date, status_last_date])

                data_traces.append(data_trace)

                df_result = pd.DataFrame(data_trace, columns = ['PoNo', 'Item_Code','PR_QTY','Inbound_QTY','Inbound_Progress', 'STATUS', 'First_Date', 'Last_Date']).sort_values(['First_Date', 'Last_Date'])
                df_result1 = pd.concat([df_result, df_result1])

72100192
72100197
72101040
23102 11551
36196 18098
1902 951
72101041
1200 600
15778 7889
29586 14793
72101043
9920 620
91760 54560
12400 3720
72101042
9504 4752
CANEX01-021622
72100165
2232 2232
1317 1317
SPTL060722ES
72100147
13056 13056
33792 33792
72100158
2304 2304
9984 9984
72100146
7680 7680
103680 103680
6912 6912
99840 99840
72100155
3840 3840
82176 82176
768 768
23040 23040
72100156
3840 3840
72100157
3072 3072
48384 48384
3840 3840
72100195
4608 6144
70656 109824
72100196
2304 2304
26880 36864
72100199
33792 33792
768 768
19200 19200
72100164
125952 125952
59904 59904
72100173
90624 90624
1536 1536
7680 7680
72100174
49920 49920
72100175
28416 28416
RETC041122ES
72100161
1536 1536
768 768
72100153
260 260
1036 1036
10778 10778
72100149
3120 3120
28704 28704
72100151
4368 4368
28080 28080
72100152
1872 1872
28080 28080
72100172
42432 42432
4368 4368
72100188
1507 1507
45844 45844
72100154
2900 2900
17400 17400
72100170
6380 6380
22620 22620
4640 4640
22620 22620
72100144
20416 20416
40368 40368
2784 2784
72100159
4640 4640
5104 5104
988 988
8244 8244
1414 1414
PVEL041122ES
SPTL022522ES
72100148
15138 15138
6409 6409
261 522
72100145
1731 1731
16442 16442
493 493
11020 11020
72100166
2348 2348
72100181
960 1440
24480 24480
9600 9600
2400 1920
72100167
27632 27632
7168 7168
7680 7680
3360 3360
72100182
9600 9600
36579 36579
72100191
1920 10707
17760 8565
72100193
12000 9600
9600 7200
72100200
72100184
4320 4320
72100160
1154 1154
11742 11742
72100180
5800 5800
4640 4640
1740 1740
72100168
18560 18560
1740 1740
11600 11600
17980 17980
72100169
28710 28710
23790 23790
72100177
59740 59740
5800 5800
45240 45240
72100178
11292 11292
72100198
31320 38860
72100179
16240 16240
72100176
26680 26680
1740 1740
72100186
4640 4640
72100187
580 580
1740 1740
72100194
14500 14500
4060 4060
72100171
36960 36960
480 480
49440 49440
2880 2880
4320 4320
72100163
7200 7200
5280 5280
18720 18720
480 480
480 480
72100190
2880 3288
6720 3840
72100183
19200 19200
72100189
11520 14400
61440 85920

In [9]:
#process
#PR -> Factory생산 -> Factory 창고 -> (멀티 프로세싱)Booking 시작! ->   


df_result1.to_csv('./test.csv')

In [17]:
df_qbis[(df_qbis['PoNo'] == '72101043') & (df_qbis['itemCode'] == '12005831')]

           PoNo  itemCode   STATUS   QTY Updated_Date  QTY_DAY
38982  72101043  12005831   booked   620   2022-07-06      620
40323  72101043  12005831   booked   620   2022-07-07      620
40338  72101043  12005831   booked   620   2022-07-08      620
41685  72101043  12005831   booked   620   2022-07-10      620
41700  72101043  12005831   booked   620   2022-07-11      620
43047  72101043  12005831   booked   620   2022-07-12      620
43062  72101043  12005831   booked   620   2022-07-13      620
44413  72101043  12005831   booked   620   2022-07-14      620
44428  72101043  12005831   booked   620   2022-07-15      620
44429  72101043  12005831       cy     0   2022-07-15      620
45782  72101043  12005831   booked   620   2022-07-17      620
45783  72101043  12005831       cy     0   2022-07-17      620
45798  72101043  12005831   booked   620   2022-07-18      620
47157  72101043  12005831   booked   620   2022-07-19      620
47172  72101043  12005831   booked   620   2022-07-20      620
48535  72101043  12005831   booked   620   2022-07-21      620
48550  72101043  12005831   booked   620   2022-07-22      620
49923  72101043  12005831   booked   620   2022-07-24      620
49938  72101043  12005831   booked     0   2022-07-25      620
49939  72101043  12005831       cy   620   2022-07-25      620
51314  72101043  12005831   booked     0   2022-07-26      620
51315  72101043  12005831       cy   620   2022-07-26      620
51330  72101043  12005831   booked  3100   2022-07-27     3720
51331  72101043  12005831       cy   620   2022-07-27     3720
52723  72101043  12005831       cy  3100   2022-07-28     3720
52724  72101043  12005831  onboard   620   2022-07-28     3720
52739  72101043  12005831       cy  3100   2022-07-29     3720
52740  72101043  12005831  onboard   620   2022-07-29     3720
54127  72101043  12005831       cy  3100   2022-07-31     3720
54128  72101043  12005831  onboard   620   2022-07-31     3720
54143  72101043  12005831       cy  3100   2022-08-01     3720
54144  72101043  12005831  onboard   620   2022-08-01     3720
55532  72101043  12005831       cy  3100   2022-08-02     3720
55533  72101043  12005831  onboard   620   2022-08-02     3720
55548  72101043  12005831   booked  1240   2022-08-03     4960
55549  72101043  12005831  onboard  3720   2022-08-03     4960
56960  72101043  12005831   booked  1240   2022-08-04     4960
56961  72101043  12005831  onboard  3720   2022-08-04     4960
56983  72101043  12005831   booked  1240   2022-08-05     9920
56984  72101043  12005831       cy  1240   2022-08-05     9920
56985  72101043  12005831  onboard  7440   2022-08-05     9920
58424  72101043  12005831   booked  1240   2022-08-07     9920
58425  72101043  12005831       cy  1240   2022-08-07     9920
58426  72101043  12005831  onboard  7440   2022-08-07     9920

In [12]:
df_result1.head(30)

,PoNo,Item_Code,PR_QTY,Inbound_QTY,Inbound_Progress,STATUS,First_Date,Last_Date
0,72100189,30393892,85920,61440,0.715,booked,2022-07-04,2022-07-28
1,72100189,30393892,85920,61440,0.715,booking,2022-07-04,2022-07-28
2,72100189,30393892,85920,61440,0.715,cy,2022-07-08,2022-08-07
3,72100189,30393892,85920,61440,0.715,onboard,2022-07-18,2022-08-05
0,72100189,30393891,14400,11520,0.800,booking,2022-07-04,2022-07-28
1,72100189,30393891,14400,11520,0.800,booked,2022-07-06,2022-07-31
2,72100189,30393891,14400,11520,0.800,cy,2022-07-08,2022-08-07
3,72100189,30393891,14400,11520,0.800,onboard,2022-07-18,2022-08-05
0,72100183,30393792,19200,19200,1.000,booked,2022-06-29,2022-08-02
1,72100183,30393792,19200,19200,1.000,booking,2022-07-13,2022-07-31
2,72100183,30393792,19200,19200,1.000,cy,2022-07-18,2022-08-07
3,72100183,30393792,19200,19200,1.000,onboard,2022-07-22,2022-07-22
0,72100190,30393791,3840,6720,1.750,booked,2022-07-18,2022-08-02
1,72100190,30393791,3840,6720,1.750,booking,2022-07-18,2022-08-02
0,72100190,30393792,3288,2880,0.876,booking,2022-07-04,2022-08-07
1,72100190,30393792,3288,2880,0.876,booked,2022-08-05,2022-08-07
0,72100163,30393891,480,480,1.000,onboard,2022-06-09,2022-06-09
1,72100163,30393891,480,480,1.000,cy,2022-06-10,2022-06-19
0,72100163,30393893,480,480,1.000,booking,2022-05-30,2022-06-02
1,72100163,30393893,480,480,1.000,cy,2022-06-03,2022-06-19
2,72100163,30393893,480,480,1.000,onboard,2022-06-20,2022-06-20
0,72100163,30393892,18720,18720,1.000,booked,2022-05-27,2022-06-02
1,72100163,30393892,18720,18720,1.000,booking,2022-05-27,2022-06-02
2,72100163,30393892,18720,18720,1.000,cy,2022-05-27,2022-06-19
3,72100163,30393892,18720,18720,1.000,onboard,2022-06-09,2022-06-20
0,72100163,30393393,5280,5280,1.000,booking,2022-05-20,2022-06-02
1,72100163,30393393,5280,5280,1.000,booked,2022-05-23,2022-05-29
2,72100163,30393393,5280,5280,1.000,cy,2022-05-25,2022-06-08
3,72100163,30393393,5280,5280,1.000,onboard,2022-06-09,2022-06-09
0,72100163,30393392,7200,7200,1.000,booking,2022-05-20,2022-06-02

In [10]:
PoNos = df_pr.FactoryPO_Num.unique()
PoNo = '72100118'
Status = df_qbis[df_qbis['PoNo'] == PoNo].STATUS.unique()

# PoNo, PR Qty, QBis Qty
data_trace = []

PR_Qty = df_pr[df_pr['FactoryPO_Num'] ==PoNo].PCS.sum()
if len(Status) >= 1:
    lastest_inbound_qty = df_qbis[(df_qbis['PoNo'] == PoNo)].QTY_DAY.iloc[-1]
    inbound_progress = round(lastest_inbound_qty/PR_Qty,3)

c:\users\qcells\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: divide by zero encountered in longlong_scalars
  # This is added back by InteractiveShellApp.init_path()

In [11]:
inbound_progress

inf